# profile.config
# =============================================================================
# Name       : profile.config
# Description: profile file for bash and ksh shells
#
# Notes      : source from ~/.bashrc or ~/.kshrc files
#
# =============================================================================
appendPath () {
    	case ":${PATH}:" in
        	*:"${1}":*)
            ;;
        	*) PATH="${PATH:+$PATH:}${1}"
            ;;
    esac
}

# =============================================================================
# -----------------------------------------------------------------------------
# append my default paths
[ -d ~/bin ] && appendPath ~/bin
[ -d ~/bin/exe ] && appendPath ~/bin/exe

# force PATH to be environment
export PATH
# unset appendPath
unset appendPath

# -----------------------------------------------------------------------------
# set LS_COLORS
command -v vivid >/dev/null
if [ $? -eq 0 ]; then
	export LS_COLORS=$(vivid generate solarized-dark)
else
	dircolors ~/Projects/dotfiles/dircolors.config > /tmp/lscolors.tmp &&
	. /tmp/lscolors.tmp &&
	rm /tmp/lscolors.tmp
fi

# -----------------------------------------------------------------------------
# set PS1
FGCOLORMAIN='\[\e[1;44m\]'
FGCOLORAUX='\[\e[0;44m\]'
#BGCOLOR='\[\e[41m\]'
ENDCOLOR='\[\e[00m\]'
#SIGN=$(printf '\uf139')
export PS1="${FGCOLORMAIN}${BGCOLOR}\u@\H:\w [${FGCOLORAUX}${BGCOLOR}\t${FGCOLORMAIN}${BGCOLOR}] ${SIGN}${ENDCOLOR} "

# -----------------------------------------------------------------------------
# enable alias in scripting
shopt -s expand_aliases
# append to the history file; don't overwrite it
shopt -s histappend

# -----------------------------------------------------------------------------
# define user aliases
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'

command -v lsd >/dev/null
if [ $? -eq 0 ]; then
	alias kl='clear; lsd -ltr '
	alias kla='clear; lsd -ltra '
	alias kg='clear; lsd -ltrgA '
else
	alias kl='clear; ls --color=auto -l '
	alias kla='clear; ls --color=auto -la '
fi

#alias open="xdg-open "

# -----------------------------------------------------------------------------
# bash options
export EDITOR=vim
# remove duplicates from bash history
export HISTCONTROL=ignoreboth

# add timestamp to history file
export HISTTIMEFORMAT="%Y-%m-%d %T "

# uncomment to enable vim like navigation on the command line
set -o vi

# -----------------------------------------------------------------------------
# other exports
# secrets
export GITHUB_ACCESS_TOKEN=$(sed -n '2p' ~/github_token.txt)
# qemu
export LIBVIRT_DEFAULT_URI='qemu:///system'

# -----------------------------------------------------------------------------
# start shell
command -v neofetch >/dev/null && neofetch

#eval "$(starship init bash)"

