# profile.config
# =============================================================================
#  ___   / _|   ___   _ __   _ __     ___  | |_ 
# / __| | |_   / _ \ | '__| | '_ \   / _ \ | __|
# \__ \ |  _| |  __/ | |    | | | | |  __/ | |_ 
# |___/ |_|    \___| |_|    |_| |_|  \___|  \__|
# 
# Name       : profile.config
# Description: profiling for bash and ksh shells
#              sources the shaman framework if present, otherwise fallsback 
#              to a simple shell environment settings
# Notes      : source from ~/.bashrc or ~/.kshrc files
#
# =============================================================================
# default path to shaman framework
# if it's installed in other path, please adjust the value accordingly
SHAMAN_PATH=~/shamanX

if [ -d ${SHAMAN_PATH} ]; then

	. ${SHAMAN_PATH}/maestro.sh

else	
	appendPath () {
    	case ":${PATH}:" in
        	*:"${1}":*)
            ;;
        	*) PATH="${PATH:+$PATH:}${1}"
            ;;
	    esac
	}

	# append my default paths
	appendPath ~/bin
	# force PATH to be environment
	export PATH
	# unset appendPath
	unset appendPath

	# set LS_COLORS
	command -v vivid >/dev/null
	if [ $? -eq 0 ]; then
		export LS_COLORS=$(vivid generate lava)
	else
		dircolors ~/dotfiles/dircolors.config > /tmp/lscolors.tmp &&
		. /tmp/lscolors.tmp &&
		rm /tmp/lscolors.tmp
	fi

	# set PS1
	STARTFGCOLORMAIN='\[\e[1;14m\]'
	STARTFGCOLORAUX='\[\e[0;14m\]'
	STARTBGCOLOR='\[\e[41m\]'
	ENDCOLOR='\[\e[00m\]'
	SIGN=$(printf '\uf138')

	# force PS1 to be environment
	export PS1="${STARTFGCOLORMAIN}${STARTBGCOLOR}\u@\H:\w [${STARTFGCOLORAUX}${STARTBGCOLOR}\t${STARTFGCOLORMAIN}${STARTBGCOLOR}] ${SIGN}${ENDCOLOR} "

	# enable alias in scripting
	shopt -s expand_aliases
	# append to the history file; don't overwrite it
	shopt -s histappend


	# define user aliases
	alias egrep='egrep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias grep='grep --color=auto'

	command -v exa >/dev/null
	if [ $? -eq 0 ]; then
		alias kl='clear; exa --color=auto --icons -l '
		alias kla='clear; exa --color=auto --icons -la '
		alias kld='kl -D '
		alias klt='kl -T '
	else
		alias kl='clear; ls --color=auto -l '
		alias kla='clear; ls --color=auto -la '
	fi

	alias open="xdg-open "
	alias chd='echo "***************"; sudo fdisk -l;echo "***************"; lsblk -f;echo "***************"; df -h '

	export EDITOR=vim
	# remove duplicates from bash history
	export HISTCONTROL=ignoreboth

	# add timestamp to history file
	export HISTTIMEFORMAT="%Y-%m-%d %T "

	# uncomment to enable vim like navigation on the command line
	#set -o vi

	# import secrets
	export GITHUB_ACCESS_TOKEN=$(< /run/media/sferreira/vault/secrets/token_github)

	# start shell
	command -v neofetch >/dev/null && neofetch

fi

